Learning to Rank Model Visual Test

This following code is for validate the model result with the event happens.
This validation didn't capture tower killed by creep and barracks, those followings will be validated manually.

In [1]:
import pandas as pd
import numpy as np

In [18]:
match_ids = ['3552460526',
            '3552551775',
            '3552645913',
            '3552694103',
            '3554279798',
            '3554360514',
            '3554472677']

In [48]:
event_df = ''
letor_y_df = ''
is_captured = False
for match_id in match_ids:
    event_df = pd.read_csv('C:/Users/Darren/OneDrive - Queensland University of Technology/IFN701/Visual Test Data/'+
                           match_id +'_vtest.csv').iloc[:,1:]
    letor_y_df = pd.read_csv('letor_y/'+match_id + '_y.txt', sep='\t', header=None)
    for i, row in event_df.iterrows():
        is_captured = False
        tick = row['tick']
        target = []
        if (row['primary_target'] == 'hero'):
            target.append(str(int(row['primary_target_idx'])))
        if (row['secondary_target'] == 'hero'):
            target.append(str(int(row['secondary_target_idx'])))
        if ((row['primary_target'] == 'hero') | (row['secondary_target' == 'hero'])):
            tick_data = letor_y_df[(letor_y_df.iloc[:,0] >= tick-15) & (letor_y_df.iloc[:,0] <= tick)].sort_values(2, ascending=False)
            if (len(tick_data) > 0):
                if (str(tick_data.iloc[0,1]) not in  target):
                    row['model'] = 'miss'
                    event_df.iloc[i] = row
                else:
                    is_captured=True
            if (is_captured == False):
                tick_data = letor_y_df[(letor_y_df.iloc[:,0] <= tick+15) & (letor_y_df.iloc[:,0] >= tick)].sort_values(2, ascending=False)
                if (len(tick_data) > 0):
                    if (str(tick_data.iloc[0,1]) not in  target):
                        row['model'] = 'miss'
                    else:
                        row['model'] = ''
                    event_df.iloc[i] = row
    event_df.to_csv('C:/Users/Darren/OneDrive - Queensland University of Technology/IFN701/Visual Test Data/'+
                       match_id +'_vtest_filled.csv')

In [51]:
match_id = '3552460526'
event_df = pd.read_csv('C:/Users/Darren/OneDrive - Queensland University of Technology/IFN701/Visual Test Data/'+
                           match_id +'_vtest.csv').iloc[:,1:]
letor_y_df = pd.read_csv('letor_y/'+match_id + '_y.txt', sep='\t', header=None)
    
for i, row in event_df.iterrows():
    is_captured = False
    tick = row['tick']
    target = []
    if (row['primary_target'] == 'hero'):
        target.append(str(int(row['primary_target_idx'])))
    if (row['secondary_target'] == 'hero'):
        target.append(str(int(row['secondary_target_idx'])))
    if ((row['primary_target'] == 'hero') | (row['secondary_target' == 'hero'])):
        tick_data = letor_y_df[(letor_y_df.iloc[:,0] >= tick-15) & (letor_y_df.iloc[:,0] <= tick)].sort_values(2, ascending=False)
        if (len(tick_data) > 0):
            print(str(tick)+': '+str(tick_data.iloc[0,1])+'; target: '+ ', '.join(target))
            if (str(tick_data.iloc[0,1]) not in  target):
                row['model'] = 'miss'
                event_df.iloc[i] = row
            else:
                is_captured=True
        if (is_captured == False):
            tick_data = ''
            tick_data = letor_y_df[(letor_y_df.iloc[:,0] <= tick+15) & (letor_y_df.iloc[:,0] >= tick)].sort_values(2, ascending=False)
            if (len(tick_data) > 0):
                print(str(tick_data.iloc[0,1]))
                print('|_'+ str(tick)+': '+str(tick_data.iloc[0,1]))
                if (str(tick_data.iloc[0,1]) not in  target):
                    row['model'] = 'miss'
                    print(str(tick)+'miss')
                else:
                    row['model'] = ''
                event_df.iloc[i] = row
                        
event_df.to_csv('C:/Users/Darren/OneDrive - Queensland University of Technology/IFN701/Visual Test Data/'+
                       match_id +'_vtest_filled.csv')

29763: 8; target: 8, 1
32103: 8; target: 8, 0
35928: 0; target: 3, 6
3
|_35928: 3
38174: 7; target: 9, 4
9
|_38174: 9
39074: 8; target: 8, 3
41244: 8; target: 1, 9
5
|_41244: 5
41244miss
41366: 5; target: 5, 4
41776: 6; target: 6, 4
41910: 4; target: 4, 7
43456: 9; target: 9, 4
43904: 7; target: 3, 7
44060: 0; target: 0, 6
46218: 6; target: 6, 4
48817: 6; target: 7, 4
6
|_48817: 6
48817miss
48965: 4; target: 4, 9
50245: 5; target: 5, 4
51727: 2; target: 7, 4
2
|_51727: 2
51727miss
52103: 6; target: 6, 1
55757: 4; target: 4, 5
55825: 1; target: 1, 6
56433: 2; target: 6
6
|_56433: 6
57061: 5; target: 5, 4
57545: 9; target: 6, 4
9
|_57545: 9
57545miss
57611: 9; target: 1, 7
9
|_57611: 9
57611miss
57877: 7; target: 2
2
|_57877: 2
58067: 7; target: 7, 4
58115: 2; target: 3, 9
2
|_58115: 2
58115miss
58155: 2; target: 4, 9
4
|_58155: 4

59009: 5; target: 5, 0
60091: 6; target: 6
61495: 6; target: 2, 6
61705: 1; target: 1, 6
62882: 5; target: 5, 4
63006: 1; target: 1, 8

63216: 0; target: 3, 6
3
|_63216: 3
63562: 2; target: 8
6
|_63562: 6
63562miss
65961: 4; target: 7, 1
4
|_65961: 4
65961miss
66863: 2; target: 0, 9
0
|_66863: 0
67273: 2; target: 2, 5
68207: 3; target: 3, 7
69078: 6; target: 0, 5
0
|_69078: 0
69356: 4; target: 8
4
|_69356: 4
69356miss
71198: 6; target: 2
6
|_71198: 6
71198miss
73679: 2; target: 2, 5
75315: 6; target: 6
76711: 2; target: 2, 6
77699: 1; target: 6
6
|_77699: 6
77947: 1; target: 1, 6
79389: 2; target: 2, 5
79493: 0; target: 0, 8
79603: 6; target: 3, 5
3
|_79603: 3
80445: 8; target: 3, 6
8
|_80445: 8
80445miss
80497: 8; target: 7, 0
7
|_80497: 7
80571: 8; target: 8, 2
80623: 9; target: 9, 1
81125: 5; target: 5, 4
81245: 2; target: 6, 2
81499: 6; target: 6, 2
81829: 4; target: 0
4
|_81829: 4
81829miss
82891: 1; target: 1, 9
85777: 0; target: 0, 9

88445: 5; target: 1, 6
5
|_88445: 5
88445miss
88459: 5; target: 5, 4
88909: 3; target: 3, 8
89113: 2; target: 9, 4
2
|_89113: 2
89113miss
89305: 6; target: 5, 4
4
|_89305: 4
89731: 6; target: 6, 4
90607: 2; target: 4
2
|_90607: 2
90607miss
90797: 3; target: 4
3
|_90797: 3
90797miss
93662: 7; target: 5, 2
7
|_93662: 7
93662miss
93750: 6; target: 7, 2
6
|_93750: 6
93750miss
93788: 6; target: 6
93997: 6; target: 9, 4
6
|_93997: 6
93997miss
94085: 1; target: 1, 6
94527: 6; target: 8, 0
8
|_94527: 8
94825: 6; target: 6, 2
95049: 6; target: 6, 4
95909: 3; target: 3, 6
96157: 6; target: 0, 6
102489: 6; target: 6
104211: 9; target: 9, 2
104323: 3; target: 4
3
|_104323: 3
104323miss
104345: 3; target: 3, 6
104375: 5; target: 5, 2
104619: 6; target: 6, 4
104886: 8; target: 8, 4
105972: 7; target: 7, 4
105994: 7; target: 2
7
|_105994: 7
105994miss
106312: 2; target: 2
106501: 2; target: 2

In [58]:
tick=41244
tick_data = letor_y_df[(letor_y_df.iloc[:,0] >= tick-40) & (letor_y_df.iloc[:,0] <= tick+60)]
tick_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9380</th>
      <td>41210</td>
      <td>0</td>
      <td>-1.438191</td>
    </tr>
    <tr>
      <th>9381</th>
      <td>41210</td>
      <td>1</td>
      <td>3.046340</td>
    </tr>
    <tr>
      <th>9382</th>
      <td>41210</td>
      <td>2</td>
      <td>1.765379</td>
    </tr>
    <tr>
      <th>9383</th>
      <td>41210</td>
      <td>3</td>
      <td>-0.008532</td>
    </tr>
    <tr>
      <th>9384</th>
      <td>41210</td>
      <td>4</td>
      <td>-0.537207</td>
    </tr>
    <tr>
      <th>9385</th>
      <td>41210</td>
      <td>5</td>
      <td>-1.072204</td>
    </tr>
    <tr>
      <th>9386</th>
      <td>41210</td>
      <td>6</td>
      <td>-0.236879</td>
    </tr>
    <tr>
      <th>9387</th>
      <td>41210</td>
      <td>7</td>
      <td>-0.510359</td>
    </tr>
    <tr>
      <th>9388</th>
      <td>41210</td>
      <td>8</td>
      <td>-1.137863</td>
    </tr>
    <tr>
      <th>9389</th>
      <td>41210</td>
      <td>9</td>
      <td>0.129516</td>
    </tr>
    <tr>
      <th>9390</th>
      <td>41225</td>
      <td>0</td>
      <td>-1.000418</td>
    </tr>
    <tr>
      <th>9391</th>
      <td>41225</td>
      <td>1</td>
      <td>2.182217</td>
    </tr>
    <tr>
      <th>9392</th>
      <td>41225</td>
      <td>2</td>
      <td>1.055881</td>
    </tr>
    <tr>
      <th>9393</th>
      <td>41225</td>
      <td>3</td>
      <td>-0.139435</td>
    </tr>
    <tr>
      <th>9394</th>
      <td>41225</td>
      <td>4</td>
      <td>-0.099434</td>
    </tr>
    <tr>
      <th>9395</th>
      <td>41225</td>
      <td>5</td>
      <td>-0.700090</td>
    </tr>
    <tr>
      <th>9396</th>
      <td>41225</td>
      <td>6</td>
      <td>0.200894</td>
    </tr>
    <tr>
      <th>9397</th>
      <td>41225</td>
      <td>7</td>
      <td>-0.700090</td>
    </tr>
    <tr>
      <th>9398</th>
      <td>41225</td>
      <td>8</td>
      <td>-0.700090</td>
    </tr>
    <tr>
      <th>9399</th>
      <td>41225</td>
      <td>9</td>
      <td>-0.099434</td>
    </tr>
    <tr>
      <th>9400</th>
      <td>41240</td>
      <td>0</td>
      <td>-1.586649</td>
    </tr>
    <tr>
      <th>9401</th>
      <td>41240</td>
      <td>1</td>
      <td>-1.286321</td>
    </tr>
    <tr>
      <th>9402</th>
      <td>41240</td>
      <td>2</td>
      <td>-0.135046</td>
    </tr>
    <tr>
      <th>9403</th>
      <td>41240</td>
      <td>3</td>
      <td>-1.286321</td>
    </tr>
    <tr>
      <th>9404</th>
      <td>41240</td>
      <td>4</td>
      <td>0.076731</td>
    </tr>
    <tr>
      <th>9405</th>
      <td>41240</td>
      <td>5</td>
      <td>2.337033</td>
    </tr>
    <tr>
      <th>9406</th>
      <td>41240</td>
      <td>6</td>
      <td>-0.385337</td>
    </tr>
    <tr>
      <th>9407</th>
      <td>41240</td>
      <td>7</td>
      <td>-1.286321</td>
    </tr>
    <tr>
      <th>9408</th>
      <td>41240</td>
      <td>8</td>
      <td>3.634005</td>
    </tr>
    <tr>
      <th>9409</th>
      <td>41240</td>
      <td>9</td>
      <td>-0.081773</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>9420</th>
      <td>41270</td>
      <td>0</td>
      <td>-1.545561</td>
    </tr>
    <tr>
      <th>9421</th>
      <td>41270</td>
      <td>1</td>
      <td>0.644399</td>
    </tr>
    <tr>
      <th>9422</th>
      <td>41270</td>
      <td>2</td>
      <td>-0.644577</td>
    </tr>
    <tr>
      <th>9423</th>
      <td>41270</td>
      <td>3</td>
      <td>0.949588</td>
    </tr>
    <tr>
      <th>9424</th>
      <td>41270</td>
      <td>4</td>
      <td>0.309156</td>
    </tr>
    <tr>
      <th>9425</th>
      <td>41270</td>
      <td>5</td>
      <td>2.553381</td>
    </tr>
    <tr>
      <th>9426</th>
      <td>41270</td>
      <td>6</td>
      <td>-0.344249</td>
    </tr>
    <tr>
      <th>9427</th>
      <td>41270</td>
      <td>7</td>
      <td>-1.245233</td>
    </tr>
    <tr>
      <th>9428</th>
      <td>41270</td>
      <td>8</td>
      <td>-0.393580</td>
    </tr>
    <tr>
      <th>9429</th>
      <td>41270</td>
      <td>9</td>
      <td>-0.283324</td>
    </tr>
    <tr>
      <th>9430</th>
      <td>41285</td>
      <td>0</td>
      <td>-1.347379</td>
    </tr>
    <tr>
      <th>9431</th>
      <td>41285</td>
      <td>1</td>
      <td>-1.047051</td>
    </tr>
    <tr>
      <th>9432</th>
      <td>41285</td>
      <td>2</td>
      <td>-0.446395</td>
    </tr>
    <tr>
      <th>9433</th>
      <td>41285</td>
      <td>3</td>
      <td>-0.318297</td>
    </tr>
    <tr>
      <th>9434</th>
      <td>41285</td>
      <td>4</td>
      <td>0.113990</td>
    </tr>
    <tr>
      <th>9435</th>
      <td>41285</td>
      <td>5</td>
      <td>3.141835</td>
    </tr>
    <tr>
      <th>9436</th>
      <td>41285</td>
      <td>6</td>
      <td>-0.146067</td>
    </tr>
    <tr>
      <th>9437</th>
      <td>41285</td>
      <td>7</td>
      <td>-1.047051</td>
    </tr>
    <tr>
      <th>9438</th>
      <td>41285</td>
      <td>8</td>
      <td>1.542807</td>
    </tr>
    <tr>
      <th>9439</th>
      <td>41285</td>
      <td>9</td>
      <td>-0.446395</td>
    </tr>
    <tr>
      <th>9440</th>
      <td>41300</td>
      <td>0</td>
      <td>-1.310060</td>
    </tr>
    <tr>
      <th>9441</th>
      <td>41300</td>
      <td>1</td>
      <td>-1.009732</td>
    </tr>
    <tr>
      <th>9442</th>
      <td>41300</td>
      <td>2</td>
      <td>-0.409076</td>
    </tr>
    <tr>
      <th>9443</th>
      <td>41300</td>
      <td>3</td>
      <td>-1.009732</td>
    </tr>
    <tr>
      <th>9444</th>
      <td>41300</td>
      <td>4</td>
      <td>0.898488</td>
    </tr>
    <tr>
      <th>9445</th>
      <td>41300</td>
      <td>5</td>
      <td>3.136085</td>
    </tr>
    <tr>
      <th>9446</th>
      <td>41300</td>
      <td>6</td>
      <td>-0.108748</td>
    </tr>
    <tr>
      <th>9447</th>
      <td>41300</td>
      <td>7</td>
      <td>-1.009732</td>
    </tr>
    <tr>
      <th>9448</th>
      <td>41300</td>
      <td>8</td>
      <td>0.178370</td>
    </tr>
    <tr>
      <th>9449</th>
      <td>41300</td>
      <td>9</td>
      <td>0.644140</td>
    </tr>
  </tbody>
</table>
<p>70 rows × 3 columns</p>
</div>